<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Title</title>
    </head>

    <body>
        <h1>Camera System</h1>

        <div id="login">
            <input type="password" id = "password" placeholder="Enter Password">
            <button onclick="checkPassword()">Submit</button>
        </div>

        <div id="feed">
            <img id = "frame" width="100%">
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
